.App {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#joystick-circle {
  position: absolute;
  background: lightgray;
  border-radius: 50%;
  opacity: 0.2;
}

#joystick-stick {
  position: absolute;
  background: gray;
  border-radius: 50%;
}

#aim-area {
  position: absolute;
  background: lightgray;
  border-radius: 50%;
  opacity: 0.2;
}

#aim-dot {
  position: absolute;
  background: black;
  border-radius: 50%;
}

#aim-projectile {
  position: absolute;
  background: red;
  border-radius: 50%;
}

#center-dot {
  position: absolute;
  background: white;
  border-radius: 50%;
}